
@{
    ViewBag.Title = "Hakkımda";
}

<!-- PAGE HEADER -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 text-center">
                <h1 class="text-uppercase">Hakkımda</h1>
                <p class="lead">Oğuz Cihan</p>
                <p class="lead" >Programmer &amp; Developer</p>
            </div>
        </div>
    </div>
</div>
<!-- /PAGE HEADER -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-5">
                <div class="section-row">
                    <div class="section-title">
                        <h2 class="title">Özgeçmiş</h2>
                    </div>
                    <p>
                        Merhaba ben <b>Oğuz Cihan</b> Düzce Üniversitesi 3.sınıf Bilgisayar Mühendisliği öğrencisiyim
                        aktif olarak yazılımla ilgilenmekteyim. Kendimi daha iyi ifade edebilmek ve bana katkısı olacağını düşündüğüm için bu web sitesini
                        oluşturmaya karar verdim. İyi bir mühendis olmak ve değerli projeler üretmek için çok çalışmaya devam ediyorum.
                    </p>
                    <br />
                    <blockquote class="blockquote">
                        <p> İnanmak başarmanın yarısıdır. </p>
                        <footer class="blockquote-footer">Oğuz Cihan</footer>
                    </blockquote>
                    <br />
                    <p>
                        Bu blog web sitesinde programlama dillerinde en çok takılan yerleri ve en çok aranan kodları paylaşmayı hedefliyorum.
                        Bu siteden rahatça aradığınız kod parçalarını bulabilirsiniz. Eğer aradığını kod parçası yoksa tarafıma mail ile ulaşarak
                        istediğiniz kod parçasını temin etmeye çalışabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-md-7" style="padding-left:70px">
                <div class="section-row">
                    <div class="section-title">
                        <h2 class="title">İlgi Alanları</h2>
                    </div>
                    <font size="5">
                        <li>C#</li>
                        <li>Asp.Net MVC</li>
                        <li>Java</li>
                        <li>Python</li>
                    </font>
                    <br />
                    <div class="section-title">
                        <h2 class="title">Hobiler</h2>
                    </div>
                    <font size="5">
                        <li>Kitap Okumak</li>
                        <li>Tasarım Yapmak</li>
                        <li>Keşif Gezileri Yapmak</li>
                        <li>Makale Okumak</li>
                        <li>Yeni Diller Öğrenmek</li>
                    </font>

                </div>
            </div>

        </div>
        <!-- /row -->
        <div class="post post-thumb">
            <a class="post-img"><img src="~/upload/about.jpg" alt=""></a>

        </div>
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
